<div id="error404" class="span-16">
	<h3 id="errorTemplate" class="prepend-1 span-13 append-1">
		<%=image_tag "bug_128.png", :class =>"span-4" %>
		<br/><br/>
		<span class="prepend-top">Oops!!! The page you are looking for does not exist. If you think this is an error, kindly email us at 
		<br/><br/><%=mail_to "notionhub@gmail.com", nil, html_options = { :class => "mail_to prepend-2"} %></span>
	</h3>
</div>