<h3>
	<span style='color:darkred'>NotionHub</span>: There is a new answer for your question 
</h3>
<b>
	<a href=<%="http://notionhub.com/questions/#{@q_id}"%>><%= @q_title%></a>
</b>
<div style="margin-left:50px;">
	<%=raw @content%>
</div>