<h3>
	Welcome to NotionHub
</h3>

<p>
	Hi, <b><%=@name%></b>, Welcome to NotionHub. You can ask any of your higher studies questions here and you can get helpful answers quickly. So fire away!!! I would also encourage you to answer other's questions, submit links(articles, documents etc) that you are using during your preparation and become part of the NotionHub community.
</p>
<br/><br/>
<p>
	I encourage you to visit the AboutUs page to find how you can use NotionHub<br/>
	<a href="http://notionhub.com/aboutus"> NotionHub - About Us</a>
</p>
<br/><br/>
<p>
	We also blog at <a href='http://notionhub.posterous.com'>NotionHub Blog</a>. We post product updates, MS and MBA news, interesting links we find in the net.
</p>
<br/><br/>
<p>
	Thanks,
	Felix and Arun Shankar
</p>