<div id="new_update" class="pull-2 span-8">
	<textarea id="Update_content" class="span-8" style="position:relative; left:10px;" ></textarea>
	<input type=hidden id="app_id" value =<%=app_id%> />&nbsp;
	<input type=button id="Update_submit" value="Update" style="position:relative; left:10px;" class="left">
	<span id="char_left" class="right" style="position:relative; left:10px;">140</span>
</div>

