<span id='create_content' class="span-8">
	<%=link_to "Ask Question", new_question_path, html_options = {:title => "Ask your higher education related question.", :id => :ask_question, :class=>"span-3"}%>
	<%=h link_to "Post Link", new_link_path, html_options = {:title => "Post a useful link that you used for your studies.", :id => :new_link, :class => "span-2"}%>
	<%=h link_to "New App", new_app_path, html_options = {:title => "Create your application and add app-specific details to it.", :id => :new_app_link, :class => "span-2"}%>						
</span>